.detalhe-container{
    display:flex;
    gap: 54px;
    margin: 192px 90px 0 90px;
    height:575px;   
}

.detalhe-container-img{
    max-width:562px;
    max-height:460px;
}
.detalhe-container-content{
    display:flex;
    flex-direction:column;
    height:460px;  
}
.detalhe-container-content-title{
    font-size: 32px;
    font-family: "Ubuntu";
    font-weight: 500;
    line-height: 36.77px;
    box-align: left;
    color: #2e2e2e;
    vertical-align:top;
    margin-top: 0;
}
.detalhe-container-content-category{
    color: #f3bd30;
    font-family: "Ubuntu";
    font-style: Bold;
    font-size: 16px;
    line-height: 18px;
    line-height: 100%;
    box-align: left;
    margin: 22px 0 21px 0;
    vertical-align:top;
}
.detalhe-container-content-price{
    color: #2e2e2e;
    font-family: "Ubuntu";
    font-style: Bold;
    font-size: 40px;
    line-height: 46px;
    line-height: 100%;
    box-align: left;
    margin: 0 0 83px 0;
    vertical-align:top;
}
.detalhe-container-content-description{
    border: 1px solid #c3c3c3;
    border-radius:8px;
    width: 900px;
    height:250px;
    padding: 36px;
    font-size:18px;
    font-family:'Ubuntu';
    font-weight: 300;
    box-align: left;
    vertical-align:top;
}